@import url('https://fonts.cdnfonts.com/css/cramps-2');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #282c34;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15%;
    width: 100%;
    padding: 0 20px; 
}

.vida-container {
    display: flex;
    align-items: center;
    color: #f1faeb;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titulo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #61dafb;
    font-family: 'CRAMPS', sans-serif;
    font-size: 1.8em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.dica-container{
    font-size: 1.5em;
    color: #98c379;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: "Sour Gummy", sans-serif;
}

#flor img {
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.7);  
}

.palavra-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.letra {
  font-size: 50px;
  margin-top: 24px;
  border-bottom: 13px solid #f0f0f0;
  text-align: center;
  transition: 0.3s;
  width: 20px;
}

.teclado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
}

.teclado-linha {
    display: flex;
    gap: 10px;
}

.letras-teclado {
    font-size: 24px;
    padding: 15px 20px;
    border: none;
    font-family: "Sour Gummy", sans-serif;
    background-color: white;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: transform 0.1s ease;
}

.letras-teclado:hover {
    transform: scale(1.1);
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 70px;
    padding: 0 20px;
    margin-top: 15px;
}

.voltar {
    background-color: #61dafb;
    border-radius: 10px;
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #61dafb;

}

.reiniciar {
    background-color: #61dafb;
    border-radius: 10px;
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container button:hover {
    background-color: #1e6f85;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    input[type="text"] {
        width: 90%;
        padding: 12px;
        font-size: 1em;
    }

    button {
        padding: 12px 24px;
        font-size: 1em;
    }
}
